header.DashboardNavigator {
  margin: 3rem 0;
  width: 100%;
}

header.DashboardNavigator span.Main {
  padding: 10px 26px;
  display: inline-block;
  color: #0075ad;
  background-color: #f9f8fc;
  font-weight: bold;
  border-radius: 0.35rem;
  cursor: pointer;
  user-select: none;
}

header.DashboardNavigator span {
  padding: 10px 26px;
  display: inline-block;
  color: #0075ad;
  background-color: #fff;
  font-weight: bold;
  border-radius: 0.35rem;
  cursor: pointer;
  user-select: none;
}

header.DashboardNavigator span:hover {
  background-color: #f9f8fc;
  color: #0075ad;
}

.ActiveStep {
  background-color: #0075ad !important;
  color: #f9f8fc !important;
}
